<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/homepage.css">
    <title>Homepage</title>
</head>
<body>
    <header class="top-bar">
        <button class="top-bar-btn" onclick="navigate('products')">Products</button>
        <button class="top-bar-btn" onclick="navigate('profile')">Profile</button>
        <button class="top-bar-btn" onclick=""><a href="/logout">logout</a></button>
        <button class="top-bar-btn" onclick=""><a href="/admin/dashboard">admin</a></button>

    </header>

    <section class="content">
        <h1>Welcome to Your Homepage</h1>
        <p>This is where you can explore products, view your profile, and more!</p>
    </section>

    <script src="script.js"></script>
</body>
</html>
