<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Login Page</title>
</head>
<body>
    <div class="heart-emoji">💔💔💔</div>
    <div class="login-container">
        <form id="loginForm" action="/users/login" method="post">
            <h2>Login</h2>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="button" id="passwordToggle" onclick="togglePasswordVisibility()">Show Password</button>

            <button type="submit">Login</button>

            <button type="button" class="signup-btn" onclick="redirectToSignUp()">Sign Up</button>
        </form>
    </div>

    <script src="/controllers/login.js"></script>
</body>
</html>
