body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #3498db, #8e44ad);
    animation: changeBgColor 15s linear infinite;
}

@keyframes changeBgColor {
    0% {
        background: linear-gradient(45deg, #3498db, #a5d80b);
    }
    25% {
        background: linear-gradient(45deg, #09e14a, #c0392b);
    }
    50% {
        background: linear-gradient(45deg, #cc0a8c, #2600ff);
    }
    75% {
        background: linear-gradient(45deg, #f39c12, #78ff02);
    }
    100% {
        background: linear-gradient(45deg, #f0f001, #8e44ad);
    }
}

.login-container {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: rotate 12s linear infinite;
}

.heart-emoji {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    animation: floatHeart 3s ease-in-out infinite alternate;
}

@keyframes floatHeart {
    from {
        transform: translate(-50%, -50%) translateY(40px);
        transform: translate(-50%, -50%) translatex(40px);
    }
    to {
        transform: translate(-50%, -50%) translateY(-20px);
        transform: translate(-50%, -50%) translatex(-200px);

    }
}

/* ... rest of your CSS ... */


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    75%{
        transform: rotate(260deg);
    }
    100%{
        transform: rotate(100deg);
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #3498db;
}

button {
    background: linear-gradient(45deg, #2ecc71, #27ae60);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(45deg, #1abc9c, #16a085);
}

.signup-btn {
    margin-top: 20px;
    background: linear-gradient(45deg, #e74c3c, #c0392b);
}
